@{
    ViewBag.Title = "";
}
<h2>Painel de Senhas</h2>
<h3>Guichê: @Html.TextBox("tbGuiche", "")</h3>
<h3>Senha: @Html.TextBox("tbSenhaAtual", "")</h3>


@section scripts {

    @Scripts.Render("~/bundles/SignalR")
    <script src="~/signalr/hubs"></script>

    <script>

        $(function () {
            var painel = $.connection.painelSenhasHub;
            painel.client.dispararSenhaAtual = function (guiche, senha) {
                $("#tbGuiche").val(guiche);
                $("#tbSenhaAtual").val(senha);

            };

            $.connection.hub.start();
        });

    </script>
}

